* {
    margin: 0;
    padding: 0;
}
body {
    background: #ffeedd;
}


 /* ****** HEADER SECTION *************** */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
}

.navbar .logo {
    font-family: 'Montez', cursive;
    color: blue;
}

.subHeading {
    font-family: 'Ubuntu Mono', monospace;
}

.btns {
    background-color: blue;
    color: #fff;
    padding: 7px;
    margin: 5px;
    width: 100px;
    border: none;
}



/* ********** POSTSLIST SECTION *********** */

.postContainer {
    width: 100%;
    /* display: flex; */
    justify-content: center;
   
    /* text-align: center; */
}
.post {
   
   display: grid;
   grid-template-areas:'userName postContent postContent postContent postContent';
   gap: 10px;
   justify-content: center;
   align-items: center;
    background: rgb(206, 200, 200);
    width: 40%;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 20px;
}
.userName {
    background-color: white;
  
}