* {
    margin: 0;
    padding: 0;
}

#body {
    background: #ffeedd;
}
/* ********** POSTSLIST SECTION *********** */
.postContainer {
    display: flex; 
  height: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}
.post {
    width: 40%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    height: fit-content;
}
.post:hover {
    box-shadow: 0 8px 5px 5px rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);;
}
.postcontent{
  display: table-cell;
  text-align: left;
  background-color: #e8e8e8;
  color: #000000;
  border-radius: 0 15px 15px 0;
  padding: 0 20px;
 

}
.userName {
    width: 15%;
    max-width: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.postContent {
    display: table-cell;
    background: rgb(232, 229, 229);
    padding: 5px 15px;
}

.content {
    overflow: hidden;
}
.mainPost p {
    font-size: medium;
    height: 7.5vh;
    overflow: hidden;
}
.postContent .title {
    color: #808080;
    font-size: larger;
}

/*  ******* delete icon ********  */

.postContent span  {
    color: rgb(109, 108, 108);
    display: flex;
    justify-content: end;
}
.postContent span  a{
    display: flex;
    justify-content: end;
}
.deleteIcon{    
    width: 5%;
    cursor: pointer;
}
.editIcon {  
    width: 10%;
}


.deletemodalBtns {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.deletemodalBtns button {
    width: 70px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.deletemodalBtns button:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.06);
}

.deletemodalBtns #yesBtn {
    background-color: rgb(9, 183, 9);
}

.deletemodalBtns #noBtn {
    background-color: red;
}

.deleteModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.78);
    /* Black w/ opacity */
}

/* sign up modal */
.content-deleteModal{

    background-color: #fefefe;
    margin: 2% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 25%;

    /* Could be more or less, depending on screen size */
}